<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/lojacalcado</property>
		<property name="hibernate.connection.username">lojacalcado</property>
		<property name="hibernate.connection.password">123456</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.default_schema">lojacalcado</property>
		<property name="connection.autocommit">true</property>

		<property name="show_sql">true</property>
		<property name="format_sql">true</property>

		<mapping class="model.GradeNumeracao" />
		<mapping class="model.CategoriaModelo" />
		
		<mapping class="model.Modelo" />
		<mapping class="model.ModeloImagem" />
		
		

		<mapping class="model.Cliente" />
		
		<mapping class="model.Pedido" />
		<mapping class="model.PedidoItem" />
		
	</session-factory>
</hibernate-configuration>
